@use '../tools/mixins.scss' as *;
@use '../tools/functions.scss' as *;
@use '../tools/media-queries.scss' as *;

@mixin button-base() {
  @include primary-font(600);
  @include font-size(14);
  background: none;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  position: relative;
  letter-spacing: 0.44px;
  line-height: 24px;

  @include mobile-down {
    min-width: initial;
    @include font-size(12);
  }
}